/* %Universal Style */
* {
  font-family: "Lexend", sans-serif;
  scroll-behavior: smooth;
}

/* %Modal Animation */
#modal-content {
  animation-name: modalPopUp;
  animation-duration: 0.4s;
}

/* %Animation Keyframe */
@keyframes modalPopUp {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}
